@model IEnumerable<EFGetStarted.AspNetCore.ExistingDb.Models.Blog>

@{
    ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>

<p>
    <a asp-controller="Blogs" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Url</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogId)
            </td>
            <td>
                <span class='displaying'>@Html.DisplayFor(modelItem => item.Url)</span>
				@Html.TextBox("Url_" + item.BlogId , (string)item.Url, new { @class = "edit" })
				<button class="update-case edit" data-id="@item.BlogId">Update</button>
            </td>
        </tr>
    }
</table>
@section scripts
{
<script>
	$(function() {
        $('.update-case').on('click', function (e)
		{
            e.preventDefault();
            tr = $(this).parents('tr:first');
            var id = $(this).data('id');
            var url = tr.find('.edit').val();

			$.post('/Blogs/Edit', { "id": id, "url": url },
			function (data) {
				var edit = tr.find('.edit');
						edit.val(data.person.url);
				var span = tr.find('span.displaying');
						span.text(data.person.url);
				//span.text('predefined');
			});

        });
	});
</script>
}
