.fixed {
    height: 70vh;
    width: 70vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.result {
    border-top: solid 1px cyan;
}

.result:hover {
    background-color: lightgray;
}

.clickable {
    cursor: pointer;
}

.loading {
    background-color: yellow;
    border: solid 1px red thin;
}