name: Build Samples

on:
  push:
    branches: [main]
    paths:
      - "samples/core/**"
      - "samples/end2end/**"
      - ".github/workflows/build-samples.yml"
  pull_request:
    branches: [main]
    paths:
      - "samples/core/**"
      - "samples/end2end/**"
      - ".github/workflows/build-samples.yml"

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET Core 3.1 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x

      - name: Setup .NET 6.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
          include-prerelease: true

      - name: Setup .NET 8.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.0.x
          include-prerelease: true

      - name: Build samples
        working-directory: samples/core
        run: dotnet build

      - name: Build planetary docs sample
        working-directory: samples/end2end/PlanetaryDocs
        run: dotnet build
